@media screen and (max-width: 767px)
{
    h1
    {
        font-size: 2.5rem;
    }
    h2 
    {
        font-size: 1rem;
    }
    p 
    {
        font-size: 1rem;
    }
    .logo h1 
    {
        font-size: 2rem;
        padding-top: 15px;
    }
    .main-hover
    {
        font-size: 20px;
    }
    .box-section
    {
        width: 48%;
        height: 200px;
    }
    .qustion-section h3
    {
        font-size: 1.4rem;
    }
    .qustion-icon
    {
        font-size: 25px;
    }
    .qus
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 479px)
{
    h1 
    {
        font-size: 2rem;
    }
    h2 
    {
        font-size: 0.8rem;
        font-family: sans-serif;
        font-weight: 600;
    }
    h3 
    {
        font-size: 1.3rem;
    }
    p 
    {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .nav-butt
    {
        height: 25px;
        width: 60px;
        font-size: 11px;
        font-weight: 600;
    }
    #special-case
    {
        font-size: 10px;
        width: 80px;
        gap: 1px;
    }
    .logo h1
    {
        font-size: 1.8rem;
        padding-top: 10px;
    }
    .main-butt
    {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .input-butt
    {
        width: 95%;
        height: 40px;
    }
    .main-hover
    {
        height: 45px;
        width: 40%;
        font-size: 18px;
        border-radius: 4px;
        font-weight: 600;
    }
    .main-one img 
    {
        height: 120px;
    }
    .atom 
    {
        font-size: 50px;
    }
    .box-section
    {
        gap: 10px;
        width: 98%;
        height: 150px;
    }
    .box-section p 
    {
        font-size: 0.9rem;
        font-weight: 500;
    }
    .icon-img
    {
        top:3%;
        font-size: 2.2rem;
    }
    .qustion-section h3
    {
        font-size: 1.1rem;
    }
    .qustion-icon
    {
        font-size: 25px;
    }
    .last-hover
    {
        flex-direction: column;
        gap: 15px;
    }
    .last-sectionI
    {
        width: 95%;
        height: 40px;
    }
    .footer-main
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-1 p 
    {
        color: lightgray;
    }
    .qus
    {
        font-size: 13px;
    }
}